javascript/node_modules
javascript/logs/peaq_sdk.log
javascript/logs/server_sdk.log
javascript/.env
javascript/package-lock.json

python/
python_server/.env
python_server/logs

contracts
typescript

.vscode