AGUNG_RPC_URL="https://erpc-async.agung.peaq.network"

PEAQ_SERVICE_URL=""
SERVICE_API_KEY=""
PROJECT_API_KEY=""

GAS_STATION_ADDRESS ='0x6c0CA4C0dbf7EB64cD87863110E4c93379ef897d'
GAS_STATION_OWNER_PUBLIC_KEY=''
GAS_STATION_OWNER_PRIVATE_KEY=''
EOA_PUBLIC_KEY='0x3e3FF16083Bf0a444B8fF86C7156eB3368e3cefB'
EOA_PRIVATE_KEY=''